/* mod. altezza footer prev/next */
.md-footer__link {padding-bottom: .1rem!important; padding-top: .2rem!important; }


/* cambia colore al footer e page next/pre */
.md-footer { background-color:#f5f5f5; color:#474141;}
.md-footer-meta {    background-color:#3b3b3b;}


