/* mod. altezza footer prev/next */
.md-footer__link {padding-bottom: .1rem!important; padding-top: .2rem!important; }


/* cambia colore al footer e page next/pre */
.md-footer { background-color:var(--md-default-bg-color); color: var(--md-default-fg-color);}
.md-footer-meta {    background-color: var(--md-footer-bg-color);}


