/* mod. altezza footer prev/next */
.md-footer__link {padding-bottom: .1rem!important; padding-top: .2rem!important; }


/* cambia colore al footer e page next/pre */
.md-footer { background-color:#ffffff; color:#000000;}
.md-footer-meta {    background-color:#e5e5e5;}


